.index-5
	.container
		.block-title
			h2 KHÁCH HÀNG CỦA CHÚNG TÔI
		// SLIDER KHÁCH HÀNG CỦA KIM CÚC SPORTS
		.slider-customer
			.swiper-container
				.swiper-wrapper
					-for(x=1;x<6;x++)
						.swiper-slide
							figure
								.img.ov-h
									img.swiper-lazy.ofcv(data-src="./assets/images/customer/"+x+".png", alt="KHÁCH HÀNG KIM CÚC SPORTS")
									.swiper-lazy-preloader.swiper-lazy-preloader-black
								figcaption
									p.lcl.lcl-1 Lorem Ipsum
			.swiper-button-prev
			.swiper-button-next