footer
	.container
		.row.ai-fe
			.col-lg-5.col-md-6
				.title-footer Liên Hệ
				ul.list-info
					li.item-info
						.icon
							img.lazyload.blur-up(data-src="./assets/icons/phone-footer.svg", alt="ICON ĐIỆN THOẠI")
						.text
							a(href="tel:0906523876") 0906.523.876
					li.item-info
						.icon
							img.lazyload.blur-up(data-src="./assets/icons/mail-footer.svg", alt="ICON ĐIỆN THOẠI")
						.text
							a(href="mailto:kimcucsport@gmail.com") kimcucsport@gmail.com
					li.item-info
						.icon
							img.lazyload.blur-up(data-src="./assets/icons/address-footer.svg", alt="ICON ĐIỆN THOẠI")
						.text
							a(href="javascript:void(0)") 133 - 143 Hùng Vương, t.p Quảng Ngãi
					li.item-info
						.icon
							img.lazyload.blur-up(data-src="./assets/icons/facebook-footer.svg", alt="ICON ĐIỆN THOẠI")
						.text
							a(href="https://www.facebook.com/kimcucsports/") https://www.facebook.com/kimcucsports/
			.col-lg-3.col-md-6
				.title-footer Sản Phẩm
				ul.list-link-product
					li.item-link-product
						a(href="#") Phụ kiện thể thao
					li.item-link-product
						a(href="#") Xe đạp tập
					li.item-link-product
						a(href="#") Máy chạy bộ điện
					li.item-link-product
						a(href="#") Ghế massage
			.col-lg-4.col-md-12.ta-r
				.fb-page(data-href='https://www.facebook.com/kimcucsports/' data-tabs='' data-width='' data-height='120' data-small-header='false' data-adapt-container-width='false' data-hide-cover='false' data-show-facepile='false')
					blockquote.fb-xfbml-parse-ignore(cite='https://www.facebook.com/kimcucsports/')
						a(href='https://www.facebook.com/kimcucsports/') Kim Cu&#x301;c Sports
.copy-right
	.container
		ul.list-link
			li.item-link
				a(href="#") Điều kiện
			li.item-link
				a(href="#") Điều khoản
			li.item-link
				a(href="#") Chính sách bảo mật