aside.aside-filter
	.nav-filter.mobile
		.item(toggle-view="filter") bộ lọc
		.item(toggle-view="category") thương hiệu
	.block-filter(toggle-id="filter")
		.title-filter(icon="filter") bộ lọc
		.block
			// GIÁ
			.type-filter mức giá
			.price
				#value-text(data-min-html data-max-html)
				input(type="text" id="amount" readonly hidden)
				#slider-range(data-min=100000, data-max=120000000, data-current-min=100000, data-current-max=120000000)
				.about-price
					span 1.000.000
					span 120.000.000
			// THƯƠNG HIỆU
			.type-filter thương hiệu
			.brand
				.search
					input(type="text" placeholder="Nhập thương hiệu")
					.submit
						img.lazyload.blur-up(src="./assets/icons/search.svg", alt="search")
				.check-box
					.form-group
						input#all(hidden name="brand" type="radio" value="" checked)
						label(for="all") Tất cả
					.form-group
						input#addidas(hidden name="brand" type="radio" value="Addidas")
						label(for="addidas") Addidas
					.form-group
						input#wilson(hidden name="brand" type="radio" value="Wilson&W")
						label(for="wilson") Wilson&W
					.form-group
						input#nike(hidden name="brand" type="radio" value="Nike")
						label(for="nike") Nike
					.form-group
						input#cyber(hidden name="brand" type="radio" value="Cyber")
						label(for="cyber" ) Cyber
					.form-group
						input#yonex(hidden name="brand" type="radio" value="Yonex")
						label(for="yonex") Yonex
					.form-group
						input#Text(hidden name="brand" type="radio" value="Text")
						label(for="Text") Text
					.form-group
						input#Text(hidden name="brand" type="radio" value="Text")
						label(for="Text") Text
					.form-group
						input#Text(hidden name="brand" type="radio" value="Text")
						label(for="Text") Text
					.form-group
						input#Text(hidden name="brand" type="radio" value="Text")
						label(for="Text") Text
	.block-filter.mt-20px(toggle-id="category")
		.title-filter(icon="category") danh mục sản phẩm
		.block
			ul.list-item-category
				li.item-category
					a.lcl.lcl-2(href="#") PHỤ KIỆN THỂ THAO
				li.item-category
					a.lcl.lcl-2(href="#") MÁY CHẠY BỘ ĐIỆN
				li.item-category
					a.lcl.lcl-2(href="#") XE ĐẠP TẬP THỂ DỤC
				li.item-category
					a.lcl.lcl-2(href="#") GHẾ MASSAGE