.list-product {
	.list-item {
		display     : flex;
		flex-wrap   : wrap;
		margin-right: -10px;
		margin-left : -10px;

		.item {
			-ms-flex        : 0 0 100%;
			-webkit-box-flex: 0;
			flex            : 0 0 25%;
			max-width       : 25%;
			padding-right   : 10px;
			padding-left    : 10px;
			margin-bottom   : 20px;
		}
	}

	@media (max-width: 1024px) {
		.list-item {
			.item {
				flex     : 0 0 33.3333%;
				max-width: 33.3333%;
			}
		}
	}

	@media (max-width: 768px) {
		.list-item {
			.item {
				flex     : 0 0 50%;
				max-width: 50%;
			}
		}
	}
}