// NHÀ PHÂN PHỐI
section.distributor
	.container
		h2 NHÀ PHÂN PHỐI CHÍNH HÃNG CÁC THƯƠNG HIỆU
		.slider-distributor
			.swiper-container
				.swiper-wrapper
					-for(i=1;i<6;i++)
						.swiper-slide
							.img.ov-h
								a(href="#")
									img.swiper-lazy(data-src="./assets/images/distributor/"+i+".png", alt="NHÀ PHÂN PHỐI KIM CÚC SPORTS")
									.swiper-lazy-preloader.swiper-lazy-preloader-black
			.swiper-button-prev
			.swiper-button-next