section.normal-banner
	.slider-normal-banner
		.swiper-container
			.swiper-wrapper
				-for(i=1;i<6;i++)
					.swiper-slide
						a.swiper-inner(href="#" style="background-image: url(./assets/images/banner/normal-banner-"+i+".png", alt="BANNER KIM CÚC SPORTS")
							figure.ov-h
								img(class="ofcv" src="./assets/images/banner/normal-banner-"+i+".png", alt="BANNER KIM CÚC SPORTS")
			.swiper-pagination