@{
    Layout = null;
    bool isShow = ViewBag.ShowBreadCrumb ?? true;
}

@if (isShow)
{
    <div class="wow fadeInDown" id="breadcrumb-wrapper" data-wow-delay=".2s">
        <div class="container">
            <ul class="breadcrumb">
                <li><a href="#">Trang chủ</a></li>
                <li><a href="#">Text</a></li>
                <li class="active"><a href="#">Name Page</a></li>
            </ul>
        </div>
    </div>
}