section.about-2
	.container
		.block-title
			h2 Mục tiêu phát triển kim cúc sport
		.block-item
			.row.list-item
				-for(i=1;i<4;i++)
					.item.col-md-4
						figure.hover-style-2
							.img.ov-h
								img.ofcv(src="./assets/images/about/target-"+i+".png", alt="HÌNH ẢNH MỤC TÊU CỦA KIM CÚC SPORTS")
							figcaption
								h3.lcl.lcl-1 Lorem ipsum:
								p.lcl.lcl-2 Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed eiusmod tempor incididunt ut labore et dolore magna