section.contact-1
    .container
        .contact-block
            .block-title.line-left-50.mb-20px.tt-u.gray-color
                h3 thông tin liên hệ
            .row
                .contact-info.col-md-6
                    .content
                        figure
                            .img
                                img(src="./assets/logo.svg", alt="")
                            figcaption
                                h3.gray-color.tt-u kim cúc sport
                        .desc-item-contact
                            ul
                                li 
                                    figure
                                        .img
                                            img(src="./assets/icons/address-site-contact.svg", alt="")
                                        figcaption
                                            p 133 - 143 Hùng Vương, t.p Quảng Ngãi
                                li 
                                    figure
                                        .img
                                            img(src="./assets/icons/phone-site-contact.svg", alt="")
                                        figcaption
                                            p 0906.523.876
                                li 
                                    figure
                                        .img
                                            img(src="./assets/icons/mail-site-contact.svg", alt="")
                                        figcaption
                                            p kimcucsport@gmail.com
                                li 
                                    figure
                                        .img
                                            img(src="./assets/icons/facebook-site-contact.svg", alt="")
                                        figcaption
                                            p https://www.facebook.com/kimcucsports/
                
                .contact-map.col-md-6
                    iframe(src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3851.653082034641!2d108.7954968147807!3d15.122436889471823!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3169ad2fa4682f6b%3A0x81b9fc0678756296!2zMTMzIEjDuW5nIFbGsMahbmcsIFRy4bqnbiBQaMO6LCBRdeG6o25nIE5nw6NpLCBWaWV0bmFt!5e0!3m2!1sen!2s!4v1583990387251!5m2!1sen!2s" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0")       
