section.contact-2
    .container
        .contact-form
            .block-title.line-left-50.mb-20px.tt-u.gray-color
                h3 GỬI THÔNG TIN LIÊN HỆ
            .content
                form(action="")
                    .form-row
                        span.col-md-3.tt-u tên đầy đủ (*)
                        input.col-md-9.form-control(type="text")
                    br
                    .form-row
                        span.col-md-3.tt-u email (*)
                        input.col-md-9.form-control(type="text")
                    br
                    .form-row
                        span.col-md-3.tt-u số điện thoại (*)
                        input.col-md-9.form-control(type="text")
                    br
                    .form-row
                        span.col-md-3.tt-u nội dung (*)
                        textarea.col-md-9
                        button.btn-new.tt-u gửi liên hệ

            