.product-detail-1 {
	margin-top: 70px;

	.slider-product-detail {
		display  : flex;
		flex-wrap: wrap;

		.review-image {
			-ms-flex-preferred-size: 0;
			-ms-flex-positive      : 1;
			-webkit-box-flex       : 1;
			flex-basis             : 0;
			flex-grow              : 1;
			max-width              : 100%;
			padding-right          : 50px;

			.img {
				height: auto;

				img {
					display: block;
					margin : 0 auto;
				}
			}
		}

		.thumbnail-image {
			position        : relative;
			-ms-flex        : 0 0 100%;
			-webkit-box-flex: 0;
			flex            : 0 0 100px;
			max-width       : 100px;
			padding-bottom  : 15px;

			.swiper-slide {
				cursor : pointer;
				opacity: .5;

				.img {
					padding-bottom: 10px;
					border-bottom : 1px solid #dedede;
				}

				&.swiper-slide-thumb-active {
					opacity: 1;
				}
			}

			.swiper-button-next,
			.swiper-button-prev {
				width     : 30px;
				height    : 30px;
				margin-top: 0;
				top       : unset;
				bottom    : -30px;
				z-index   : 10;

				&:after {
					content        : '';
					width          : 100%;
					height         : 100%;
					background-size: cover;
					transform      : rotate(90deg);
				}
			}

			.swiper-button-next {
				&:after {
					background-image: url(../assets/icons/slider-next.svg);
				}
			}

			.swiper-button-prev {
				&:after {
					background-image: url(../assets/icons/slider-prev.svg);
				}
			}
		}
	}

	.general-information {
		padding-left: 50px;

		h1 {
			color    : #464646;
			font-size: 32px;
		}

		.gift {
			margin: 10px 0;
		}

		.product-code,
		.product-brand {
			color        : #464646;
			margin-bottom: 5px;
			margin-top   : 5px;

			span {
				display    : inline-block;
				margin-left: 10px;
			}
		}

		.product-code {
			span {
				font-weight: 700;
			}
		}

		.product-brand {
			span {
				text-transform: uppercase;
				font-weight   : 700;
				color         : map-get($mau, main);
			}
		}

		.description-general-information {
			font-size : 14px;
			margin-top: 5px;
			font-style: italic;
		}

		.block-amount-price {
			margin-top: 10px;

			.price {
				font-size  : 24px;
				font-weight: 700;
				font-style : italic;
				line-height: 1;

				span {
					color    : map-get($mau, main);
					font-size: 32px;
				}
			}

			.block-buttons {
				display   : flex;
				flex-wrap : wrap;
				margin-top: 20px;

				.amount {
					display      : flex;
					align-items  : center;
					background   : #ffffff;
					box-shadow   : 0 3px 6px rgba($color: #000000, $alpha: .16);
					height       : 35px;
					padding      : 0 10px;
					border-radius: 5px;

					.text {
						color         : #707070;
						font-size     : 14px;
						text-transform: uppercase;
						margin-right  : 10px;
					}

					input {
						border        : 0;
						background    : map-get($mau, main);
						height        : 20px;
						width         : 20px;
						color         : #ffffffff;
						text-align    : center;
						border-radius : 5px;
						letter-spacing: 2px;
						font-size     : 14px;
					}

					.block-up-down {
						position  : relative;
						width     : 30px;
						text-align: center;
						margin    : 0 10px;

						.upQuantity,
						.downQuantity {
							cursor   : pointer;
							position : absolute;
							left     : 50%;
							transform: translateX(-50%);

							img {
								width      : 80%;
								user-select: none;
							}
						}

						.upQuantity {
							bottom: -3px;
						}

						.downQuantity {
							top: -3px;
						}

						&:after {
							content   : '';
							width     : 100%;
							height    : 1px;
							top       : 50%;
							left      : 50%;
							transform : translate(-50%, -50%);
							position  : absolute;
							background: rgba($color: #707070, $alpha: .15);
						}
					}
				}

				.submit-cart {
					cursor     : pointer;
					margin-left: 15px;
				}
			}
		}
	}

	@media (max-width: 1299.98px) {
		.general-information {
			.description-general-information {
				-webkit-line-clamp: 4;
			}
		}
	}

	@media (max-width: 1024.98px) {
		margin-top: 50px;

		.slider-product-detail {
			.thumbnail-image {
				flex     : 0 0 100%;
				max-width: 100%;
				overflow : hidden;

				.img {
					width : 80%;
					margin: 0 auto;
				}

				.swiper-button-next,
				.swiper-button-prev {
					top      : 50%;
					transform: translateY(-50%);
					bottom   : unset;

					&:after {
						transform: unset;
					}
				}

				.swiper-button-next {
					right: 0;
				}

				.swiper-button-prev {
					left: 0;
				}
			}

			.review-image {
				margin-bottom: 25px;
				padding-right: 10px;
				padding-left : 10px;
			}
		}

		.general-information {
			margin-top    : 10px;
			padding-left  : 0;
			display       : flex;
			flex-direction: column;

			.description-general-information {
				-webkit-line-clamp: 3;
			}

			h1 {
				order: -2;
			}

			.block-amount-price {
				order        : -1;
				margin-bottom: 15px;
			}
		}
	}

	@media (max-width: 767.98px) {
		margin-top: 25px;

		.slider-product-detail {
			margin-right: 0;

			.review-image {
				margin-bottom: 0;

				.gift {
					font-size   : 18px;
					margin-top  : 50px;
					padding-left: 35px;

					&:after {
						width : 22px;
						height: 27px;
					}
				}
			}

			.thumbnail-image {
				flex          : 0 0 100px;
				max-width     : 100px;
				padding-bottom: 0;

				.img {
					width: 60%;
				}

				.swiper-button-next,
				.swiper-button-prev {
					display: none;
				}
			}
		}

		.general-information {
			h1 {
				font-size: 24px;
			}

			.product-code {
				font-size: 16px;
			}

			.product-brand {
				font-size: 16px;
			}

			.description-general-information {
				-webkit-line-clamp: unset;
				font-size         : 14px;
				-webkit-box-orient: unset;
				display           : block;
				overflow          : unset;
				text-overflow     : unset;
			}

			.block-amount-price {
				.price {
					font-size: 18px;

					span {
						font-size: 24px;
					}
				}
			}
		}
	}
}