header
	// LOGO
	.block-logo
		.triangle
		a(href="index.html")
			.logo
				img.lazyload.blur-up(src="./assets/logo.svg", alt="logo")
		.toggle-menu.mobile
		.sologan
			p Sức khỏe của bạn là thành tựu của chúng tôi !
	// TOP HEADER
	.top-header
		.container.h-100
			.row.no-gutters.ai-c.jc-fe.h-100
				// DANH SÁCH MẠNG XÃ HỘI
				.social-media
					ul
						li
							a(href="#")
								img.lazyload.blur-up(src="./assets/icons/facebook-header.svg", alt="facebook")
						li
							a(href="#")
								img.lazyload.blur-up(src="./assets/icons/instagram-header.svg", alt="instagram")
				// FORM TÌM KIẾM
				.search
					form(action="#")
						.form-group
							input.form-control(type="text" placeholder="...")
						.submit
							button
								img.lazyload.blur-up(src="./assets/icons/search.svg", alt="search")
				// GIỎ HÀNG
				.block-cart
					.block-text-icon
						img.icon.lazyload.blur-up(data-src="./assets/icons/cart-header.svg", alt="cart")
						h5 giỏ hàng
						.cart-number#header-cart-number 0
					.cart-panel
						.cart-title
							svg(xmlns='http://www.w3.org/2000/svg', width='18.4', height='18.4', viewBox='0 0 18.4 18.4')
								defs
									style.
										.a1 {
										fill: #1c1c1c;
										}
										.b2 {
										fill: none;
										stroke: #ffffff;
										stroke-linecap: round;
										stroke-linejoin: round;
										}
								circle.a1(cx='9.2', cy='9.2', r='9.2')
								g(transform='translate(5.962 7.258)')
									path.b2(d='M2.246,0,0,2.487,3.9,6.477', transform='translate(0 3.896) rotate(-90)')
							span Thêm vào giỏ hàng thành công
						.cart-list
							.cart-item
								.info
									h4.name
										a(href='sanpham-ct.html') Lorem ipsum dolor, sit amet consectetur adipisicing elit
									p.brand
										| Thương hiệu: 
										b Tannoy
									p.quantity
										| Số lượng: 
										b 1
									p.price
										b 99.490.000 đ
							.cart-item
								.info
									h4.name
										a(href='sanpham-ct.html') Lorem ipsum dolor, sit amet consectetur adipisicing elit
									p.brand
										| Thương hiệu: 
										b Tannoy
									p.quantity
										| Số lượng: 
										b#header-quantity-product 1
									p.price
										b#header-actual_amount_total 99.490.000 đ
							.cart-item
								.info
									h4.name
										a(href='sanpham-ct.html') Lorem ipsum dolor, sit amet consectetur adipisicing elit
									p.brand
										| Thương hiệu: 
										b Tannoy
									p.quantity
										| Số lượng: 
										b 1
									p.price
										b 99.490.000 đ
							.cart-item
								.info
									h4.name
										a(href='sanpham-ct.html') Lorem ipsum dolor, sit amet consectetur adipisicing elit
									p.brand
										| Thương hiệu: 
										b Tannoy
									p.quantity
										| Số lượng: 
										b 1
									p.price
										b 99.490.000 đ
						.cart-button
							a.btn.btn-view-more(href='gio-hang.html') Xem giỏ hàng và thanh toán
	.bottom-header
		.container
			.main-nav
				ul.nav-list
					li.nav-item
						a.nav-link(href="gioi-thieu.html") giới thiệu
					li.nav-item
						a.nav-link(href="danh-sach-san-pham.html") sản phẩm
					li.nav-item
						a.nav-link(href="danh-sach-tin-tuc.html") tin tức - sự kiện
					li.nav-item
						a.nav-link(href="chinh-sach.html") chính sách
					li.nav-item
						a.nav-link(href="lien-he.html") liên hệ
					li.nav-item
						.language
							.item.active(data-language="vn")
								img.lazyload.blur-up(data-src="./assets/icons/vn.svg", alt="")
							.item(data-language="en")
								img.lazyload.blur-up(data-src="./assets/icons/en.svg", alt="")