@using MainProject.Core.Enums
@model MainProject.SBussiness.LandingPage.Models.Home.SubscribeModel

@using (Ajax.BeginForm("Subscribe", "Home", new AjaxOptions() { HttpMethod = "POST", OnSuccess = "subscribeSuccess" }))
{
    @Html.TextBoxFor(d => d.Email, new { @class = "form-control", placeholder = Html.GetResource(ResourceKeyCollection.Subscribe_Email) })
    <button class="btn-send" href=""><img src="/content/resources/assets/icons/button-send.svg"></button>
}

<script>
    function subscribeSuccess(response) {
        alert(response.Message);
        if (response.Code == 200) {
            window.location.href = window.location;
        }
    }
</script>