@using MainProject.Core.Enums
@model MainProject.SBussiness.LandingPage.Models.Home.SubscribeModel

@using (Html.BeginForm())
{
    <div class="form-group">
        @Html.TextBoxFor(d => d.Email, new { placeholder="Enter your e-mail" })
        @Html.ValidationMessageFor(d => d.Email)
        <button>SUBSCRIBE</button>
    </div>
}