::-webkit-scrollbar-track {
	box-shadow      : inset 0 0 6px rgba(255, 255, 255, 0);
	background-color: #fff;
}

::-webkit-scrollbar {
	width           : 5px;
	height          : 5px;
	background-color: #fff;
}

::-webkit-scrollbar-thumb {
	border-radius   : 2.5px;
	box-shadow      : inset 0 0 6px rgba(255, 255, 255, 0);
	background-color: map-get($mau, main);
}

body {
	overflow-x: hidden;

	&.disabled {
		overflow: hidden;
	}
}

.tab-container {
	.list-tab {
		.item {
			cursor: pointer;

			&.active {
				color: map-get($mau, main);
			}
		}
	}

	.tab-content {
		.content {
			display   : none;
			opacity   : 0;
			transition: all .3s cubic-bezier(.2, .5, .5, .8);

			&.show {
				opacity: 1;
			}
		}
	}
}

#overlay {
	opacity       : 0;
	visibility    : hidden;
	pointer-events: none;

	background-color: rgba(0, 0, 0, .8);
	width           : 100%;
	height          : 100%;
	position        : fixed;
	top             : 0;
	left            : 0;
	z-index         : 150;
	transition      : .3s all ease-in-out;

	&.active {
		opacity       : 1;
		visibility    : visible;
		pointer-events: visible;
	}
}

#phone-call {
	cursor  : pointer;
	position: fixed;
	right   : 25px;
	top     : 50%;
	z-index : 999;

	.phone-fixed {
		position        : relative;
		display         : block;
		margin          : 0;
		width           : 1em;
		height          : 1em;
		font-size       : 7vmin;
		background-color: map-get($mau, main);
		border-radius   : 0.5em;
		box-shadow      :
			0 0 0 0em rgba(map-get($mau, main), 0),
			0em 0.05em 0.1em rgba(#000000, 0.2);
		transform: translate3d(0, 0, 0) scale(1);
	}

	.phone-fixed::before,
	.phone-fixed::after {
		position: absolute;
		content : "";
	}

	.phone-fixed::before {
		top             : 0;
		left            : 0;
		width           : 1em;
		height          : 1em;
		background-color: rgba(#fff, 0.1);
		border-radius   : 100%;
		opacity         : 1;
		transform       : translate3d(0, 0, 0) scale(0);
	}

	.phone-fixed::after {
		top                : 0.25em;
		left               : 0.25em;
		width              : 0.5em;
		height             : 0.5em;
		background         : url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAyNCAyNCI+PHBhdGggZD0iTTYuNiAxMC44YzEuNCAyLjggMy44IDUuMSA2LjYgNi42bDIuMi0yLjJjLjMtLjMuNy0uNCAxLS4yIDEuMS40IDIuMy42IDMuNi42LjUgMCAxIC40IDEgMVYyMGMwIC41LS41IDEtMSAxLTkuNCAwLTE3LTcuNi0xNy0xNyAwLS42LjQtMSAxLTFoMy41Yy41IDAgMSAuNCAxIDEgMCAxLjIuMiAyLjUuNiAzLjYuMS40IDAgLjctLjIgMWwtMi4zIDIuMnoiIGZpbGw9IiNmZmZmZmYiLz48L3N2Zz4=);
		background-position: 50% 50%;
		background-repeat  : no-repeat;
		background-size    : cover;
		transform          : translate3d(0, 0, 0);
	}

	.phone-fixed.is-animating {
		animation: phone-outer 3000ms infinite;

		&::before {
			animation: phone-inner 3000ms infinite;
		}

		&::after {
			animation: phone-icon 3000ms infinite;
		}
	}

	@keyframes phone-outer {
		0% {
			transform: translate3d(0, 0, 0) scale(1);
			box-shadow:
				0 0 0 0em rgba(#3498db, 0),
				0em 0.05em 0.1em rgba(#000000, 0.2);
		}

		33.3333% {
			transform: translate3d(0, 0, 0) scale(1.1);
			box-shadow:
				0 0 0 0em rgba(#3498db, 0.1),
				0em 0.05em 0.1em rgba(#000000, 0.5);
		}

		66.6666% {
			transform: translate3d(0, 0, 0) scale(1);
			box-shadow:
				0 0 0 0.5em rgba(#3498db, 0),
				0em 0.05em 0.1em rgba(#000000, 0.2);
		}

		100% {
			transform: translate3d(0, 0, 0) scale(1);
			box-shadow:
				0 0 0 0em rgba(#3498db, 0),
				0em 0.05em 0.1em rgba(#000000, 0.2);
		}
	}

	@keyframes phone-inner {
		0% {
			opacity  : 1;
			transform: translate3d(0, 0, 0) scale(0);
		}

		33.3333% {
			opacity  : 1;
			transform: translate3d(0, 0, 0) scale(0.9);
		}

		66.6666% {
			opacity  : 0;
			transform: translate3d(0, 0, 0) scale(0);
		}

		100% {
			opacity  : 0;
			transform: translate3d(0, 0, 0) scale(0);
		}
	}

	@keyframes phone-icon {
		0% {
			transform: translate3d(0em, 0, 0);
		}

		2% {
			transform: translate3d(0.01em, 0, 0);
		}

		4% {
			transform: translate3d(-0.01em, 0, 0);
		}

		6% {
			transform: translate3d(0.01em, 0, 0);
		}

		8% {
			transform: translate3d(-0.01em, 0, 0);
		}

		10% {
			transform: translate3d(0.01em, 0, 0);
		}

		12% {
			transform: translate3d(-0.01em, 0, 0);
		}

		14% {
			transform: translate3d(0.01em, 0, 0);
		}

		16% {
			transform: translate3d(-0.01em, 0, 0);
		}

		18% {
			transform: translate3d(0.01em, 0, 0);
		}

		20% {
			transform: translate3d(-0.01em, 0, 0);
		}

		22% {
			transform: translate3d(0.01em, 0, 0);
		}

		24% {
			transform: translate3d(-0.01em, 0, 0);
		}

		26% {
			transform: translate3d(0.01em, 0, 0);
		}

		28% {
			transform: translate3d(-0.01em, 0, 0);
		}

		30% {
			transform: translate3d(0.01em, 0, 0);
		}

		32% {
			transform: translate3d(-0.01em, 0, 0);
		}

		34% {
			transform: translate3d(0.01em, 0, 0);
		}

		36% {
			transform: translate3d(-0.01em, 0, 0);
		}

		38% {
			transform: translate3d(0.01em, 0, 0);
		}

		40% {
			transform: translate3d(-0.01em, 0, 0);
		}

		42% {
			transform: translate3d(0.01em, 0, 0);
		}

		44% {
			transform: translate3d(-0.01em, 0, 0);
		}

		46% {
			transform: translate3d(0em, 0, 0);
		}
	}
}

#back-to-top {
	cursor        : pointer;
	position      : fixed;
	bottom        : 25px;
	right         : 25px;
	z-index       : 300;
	opacity       : 0;
	pointer-events: none;

	&.active {
		pointer-events: visible;
		opacity       : 1;
		pointer-events: static;
	}

	@media (max-width: 1024.98px) {
		display: none;
	}
}

#map {
	height: 377px;

	@media (max-width: 767.98px) {
		height: 250px;
	}
}

.ofcv {
	width          : 100%;
	height         : 100%;
	object-fit     : cover;
	object-position: center;
	font-family    : 'object-fit: cover, object-position: center';
	background-size: cover;
}

.ofct {
	width          : 100%;
	height         : 100%;
	object-fit     : contain;
	object-position: center;
	font-family    : 'object-fit: contain, object-position: center';
	background-size: contain;
}

.blur-up {
	filter    : blur(10px);
	transition: filter 1s;

	&.lazyloaded {
		filter: blur(0);
	}
}

.clearfix {
	&:after {
		content: '';
		display: table;
		clear  : both;
	}
}

.lcl {
	overflow          : hidden;
	display           : -webkit-box;
	text-overflow     : ellipsis;
	-webkit-box-orient: vertical;

	&-1 {
		-webkit-line-clamp: 1;
	}

	&-2 {
		-webkit-line-clamp: 2;
	}

	&-3 {
		-webkit-line-clamp: 3;
	}

	&-4 {
		-webkit-line-clamp: 4;
	}

	&-5 {
		-webkit-line-clamp: 5;
	}

	&-6 {
		-webkit-line-clamp: 6;
	}

	&-8 {
		-webkit-line-clamp: 8;
	}
}

.block-title {
	position      : relative;
	padding-bottom: 5px;

	h2 {
		color         : #464646;
		font-size     : 30px;
		font-weight   : 700;
		text-transform: uppercase;
	}

	&:after {
		content   : '';
		position  : absolute;
		width     : 135px;
		height    : 3px;
		left      : 0;
		bottom    : 0;
		background: map-get($mau, main);
	}

	@media (max-width: 1024.98px) {
		h2 {
			font-size: 24px;
		}
	}

	@media (max-width: 767.98px) {
		h2 {
			font-size: 18px;
		}

		&:after {
			width : 80px;
			height: 2px;
		}
	}
}

.item-product {
	figure {
		position  : relative;
		background: #F2F2F2;
		box-shadow: 0 0 0 rgba($color: hsl(356, 13%, 24%), $alpha: .31);
		transition: .3s all ease-in-out;

		.img {
			display        : flex;
			align-items    : center;
			justify-content: center;
			height         : 225px;

			img {
				width     : 70%;
				transition: .3s all ease-in-out;
			}
		}

		figcaption {
			padding   : 0 15px 50px;
			text-align: center;

			.name,
			.code,
			.price {
				overflow          : hidden;
				display           : -webkit-box;
				text-overflow     : ellipsis;
				-webkit-box-orient: vertical;
				-webkit-line-clamp: 1;
			}

			.name,
			.code {
				color: #464646;
			}

			.price {
				font-weight: 700;
				font-size  : 18px;
				color      : map-get($mau, main);
			}

			.btn-gift {
				position : absolute;
				bottom   : 15px;
				left     : 50%;
				transform: translateX(-50%);
			}
		}

		&:after {
			content       : '';
			position      : absolute;
			bottom        : 0;
			width         : 0;
			height        : 3px;
			background    : map-get($mau, main);
			pointer-events: none;
			transition    : .3s all ease-in-out;
		}
	}

	@media (min-width: 1025px) {
		&:hover {
			figure {
				background: #ffffff;
				box-shadow: 3px 5px 3px rgba($color: #463637, $alpha: .31);

				.img {
					img {
						transform: scale(1.05);
					}
				}

				&:after {
					width: 100%;
				}
			}
		}
	}

	@media (max-width: 1024.98px) {
		figure {
			.img {
				img {
					width: 50%;
				}
			}
		}
	}

	@media (max-width: 767.98px) {
		figure {
			.img {
				height: 150px;
			}

			figcaption {

				.name,
				.code {
					font-size: 16px;
					color    : #464646;
				}

				.price {
					font-size: 14px;
					color    : map-get($mau, main);
				}
			}
		}
	}
}

.hover-style-1 {
	img {
		max-width : none;
		width     : -webkit-calc(100% + 60px);
		width     : calc(100% + 60px);
		transition: opacity 0.35s, transform 0.35s;
		transform : translate3d(-50px, 0, 0);
	}

	@media (min-width: 1025px) {
		&:hover {
			img {
				opacity  : 0.7;
				transform: translate3d(0, 0, 0);
			}
		}
	}
}

.hover-style-2 {
	.img {
		position: relative;

		img {
			transition: opacity 0.35s, transform 0.35s;
			transform : scale3d(1.05, 1.05, 1);
		}

		&:before {
			content       : '';
			position      : absolute;
			top           : -10px;
			left          : 0;
			width         : 100%;
			height        : 100%;
			background    : rgba($color: #ffffff, $alpha: .5);
			transition    : transform .6s;
			transform     : scale3d(1.9, 1.4, 1) rotate3d(0, 0, 1, 45deg) translate3d(0, -100%, 0);
			pointer-events: none;
			z-index       : 10;
		}
	}

	@media (min-width: 1025px) {
		&:hover {
			.img {
				img {
					opacity  : 0.6;
					transform: scale3d(1, 1, 1);
				}

				&:before {
					transform: scale3d(2.2, 1.4, 1) rotate3d(0, 0, 1, 45deg) translate3d(0, 100%, 0);
				}
			}
		}
	}

	@media (max-width: 1024.98px) {
		.img {
			&:before {
				content: none;
			}
		}
	}
}

.aside-filter {
	.nav-filter {
		position       : fixed;
		bottom         : 0;
		left           : 0;
		width          : 100%;
		display        : flex;
		justify-content: space-between;
		height         : 50px;
		background     : map-get($mau, main);
		border-radius  : 5px;
		z-index        : 500;

		.item {
			position      : relative;
			display       : flex;
			align-items   : center;
			font-size     : 14px;
			font-weight   : 700;
			color         : #ffffff;
			text-transform: uppercase;

			&:after {
				position         : absolute;
				content          : '';
				top              : 50%;
				transform        : translateY(-50%);
				background-size  : cover;
				background-repeat: repeat;
			}

			&[toggle-view="filter"] {
				padding-left: 75px;

				&::after {
					left            : 25px;
					width           : 27px;
					height          : 27px;
					background-image: url(../assets/icons/aside-filter.svg);
				}
			}

			&[toggle-view="category"] {
				padding-right: 75px;

				&::after {
					right           : 25px;
					width           : 20px;
					height          : 16px;
					background-image: url(../assets/icons/list.svg);
				}
			}
		}
	}

	.block-filter {
		background   : #EFEFEF;
		border-radius: 5px;

		.title-filter {
			position      : relative;
			display       : flex;
			align-items   : center;
			height        : 46px;
			background    : map-get($mau, main);
			border-radius : 5px;
			box-shadow    : 0 3px 2px rgba($color: #000000, $alpha: .16);
			padding-left  : 62px;
			font-size     : 18px;
			font-weight   : 700;
			color         : #ffffff;
			text-transform: uppercase;

			&::after {
				content          : '';
				position         : absolute;
				left             : 20px;
				top              : 50%;
				transform        : translateY(-50%);
				background-size  : cover;
				background-repeat: no-repeat;
			}

			&[icon="filter"] {
				&::after {
					width           : 27px;
					height          : 27px;
					background-image: url(../assets/icons/aside-filter.svg);
				}
			}

			&[icon="category"] {
				&::after {
					width           : 20px;
					height          : 16px;
					background-image: url(../assets/icons/list.svg);
				}
			}
		}

		.block {
			padding: 25px;

			.type-filter {
				font-size     : 18px;
				text-transform: uppercase;
				color         : map-get($mau, main);
			}

			.price {
				margin-top    : 11px;
				padding-bottom: 18px;
				margin-bottom : 18px;
				border-bottom : 2px solid rgba($color: #ffffff, $alpha: .7);

				#amount,
				#value-text {
					background: transparent;
					font-size : 13px;
					color     : map-get($mau, main);
					border    : none;
					width     : 100%;
					margin    : 10px 0;
				}

				#slider-range {
					-webkit-appearance: none;
					width             : 100%;
					height            : 5px;
					border-radius     : 5px;
					outline           : none;
					opacity           : 0.7;
					-webkit-transition: .2s;
					transition        : opacity .2s;

					&:hover {
						opacity: 1;
					}

					&::-webkit-slider-thumb {
						-webkit-appearance: none;
						appearance        : none;
						width             : 15px;
						height            : 15px;
						background        : #DFDFDF;
						cursor            : pointer;
						border            : 1px #D82F25 solid;
						border-radius     : 5px;
					}

					&::-moz-range-thumb {
						width     : 25px;
						height    : 25px;
						background: #4CAF50;
						cursor    : pointer;
					}
				}

				.about-price {
					display        : flex;
					justify-content: space-between;
					margin-top     : 10px;

					span {
						font-size: 12px;
						color    : map-get($mau, main);
					}
				}

				.ui-widget-header {
					background: #ffffff;
				}

				.ui-widget-content {
					.ui-state-default {
						cursor    : pointer;
						background: map-get($mau, main);
						border    : 0;
						width     : 29px;
						height    : 17px;
						box-shadow: 0px 3px 6px rgba($color: #000000, $alpha: .16);
					}
				}

				.ui-slider-horizontal {
					.ui-slider-handle {
						top: -0.5rem;
					}
				}
			}

			.filter-price {
				margin: 10px 0;

				select {
					cursor   : pointer;
					color    : map-get($mau, main);
					width    : 100%;
					padding  : .3rem;
					border   : 1px solid #dedede;
					font-size: 14px;

					option {
						color: #949494;
					}
				}
			}

			.brand {
				margin-top: 11px;

				.search {
					position : relative;
					max-width: 100%;

					input[type="text"] {
						width        : 100%;
						background   : map-get($mau, main);
						border       : none;
						border-radius: 5px;
						height       : 27px;
						padding-left : 15px;
						padding-right: 55px;
						color        : #ffffff;
						font-size    : 13px;

						&::placeholder {
							color: #ffffff;
						}
					}

					.submit {
						position : absolute;
						top      : 50%;
						right    : 5px;
						transform: translateY(-50%);
					}
				}

				.check-box {
					max-height   : 260px;
					overflow-y   : scroll;
					margin-top   : 10px;
					padding      : 15px;
					background   : #FFFFFF;
					border-radius: 5px;

					@media (max-width: 767.98px) {
						max-height: 130px;
					}

					.form-group {
						padding-top   : 5px;
						padding-bottom: 5px;

						&:last-child {
							margin-bottom: 0;
						}

						label {
							position    : relative;
							font-size   : 14px;
							color       : #949494;
							cursor      : pointer;
							padding-left: 25px;

							&:before {
								content      : '';
								position     : absolute;
								width        : 13px;
								height       : 13px;
								background   : #DFDFDF;
								border-radius: 50%;
								top          : 3px;
								left         : 0;
							}
						}

						input[type="checkbox"],
						input[type="radio"] {
							background: #949494;

							&:checked~label {
								color: #D82F25;
							}

							&:checked~label::before {
								border: 1px solid #D82F25;
							}
						}
					}
				}
			}

			.list-item-category {
				list-style-type: none;
				padding-left   : 0;
				max-height     : 450px;
				overflow-y     : auto;

				.item-category {
					text-align    : center;
					padding-bottom: 10px;
					margin-bottom : 10px;
					border-bottom : 2px solid rgba($color: #ffffff, $alpha: .7);

					>a {
						color     : #464646;
						transition: .3s all ease;
					}

					&:last-child {
						margin-bottom: 0;
					}

					@media (min-width: 1025px) {
						&:hover {
							>a {
								color: map-get($mau, main);
							}
						}
					}
				}
			}
		}
	}

	@media (max-width: 1199.98px) {
		.block-filter {
			.title-filter {
				font-size: 16px;
			}
		}
	}

	@media (max-width: 1024.98px) {
		.block-filter {
			display : none;
			position: fixed;
			bottom  : 50px;
			left    : 0;
			width   : 100%;
			z-index : 500;

			.block {
				.list-item-category {
					max-height: 280px;

					.item-category {
						text-align: left;
					}
				}
			}

			.title-filter {
				font-size: 14px;
			}
		}
	}

	@media (max-width: 767.98px) {
		.nav-filter {
			.item {
				&[toggle-view="filter"] {
					padding-left: 50px;

					&::after {
						left  : 15px;
						width : 20px;
						height: 20px;
					}
				}

				&[toggle-view="category"] {
					padding-right: 50px;

					&::after {
						right : 15px;
						width : 17px;
						height: 13px;
					}
				}
			}
		}

		.block-filter {
			.title-filter {
				&[icon="filter"] {
					&::after {
						width : 20px;
						height: 20px;
					}
				}

				&[icon="category"] {
					&::after {
						width : 17px;
						height: 13px;
					}
				}
			}

			.block {
				.type-filter {
					font-size: 16px;
				}

				.price {
					#value-text {
						font-size: 12px;
					}
				}
			}
		}
	}
}

.list-more-info-news {
	position: absolute;
	bottom  : 0;
	display : flex;
	width   : 100%;

	.item {
		position    : relative;
		color       : #A3A3A3;
		font-size   : 12px;
		margin-right: 30px;
		padding-left: 20px;

		&[type=view] {
			&:after {
				width           : 18px;
				height          : 12px;
				background-image: url(../assets/icons/view.svg);
			}
		}

		&[type=time] {
			&:after {
				left            : 3px;
				width           : 12px;
				height          : 12px;
				background-image: url(../assets/icons/time.svg);
			}
		}

		&:after {
			content          : '';
			position         : absolute;
			left             : 0;
			top              : 50%;
			transform        : translateY(-50%);
			background-size  : cover;
			background-repeat: no-repeat;
		}

		&:last-child {
			margin-right: 0;
		}
	}
}

.gift {
	position    : relative;
	display     : inline-block;
	font-size   : 18px;
	font-weight : 700;
	color       : #464646;
	padding-left: 30px;
	cursor      : pointer;

	&:after {
		content        : '';
		position       : absolute;
		left           : 0;
		top            : 45%;
		transform      : translateY(-50%);
		width          : 17px;
		height         : 21px;
		background     : url(../assets/icons/giff.svg);
		background-size: cover;
	}
}

.fancybox-slide--html {
	.fancybox-close-small {
		width     : 40px;
		height    : 40px;
		top       : -20px;
		right     : -20px;
		background: black;
		opacity   : 1;
		padding   : 5px;

		svg {
			path {
				fill: white;
			}
		}

		@media (max-width: 767.98px) {
			top  : 0;
			right: 0;
		}
	}
}