aside.aside-filter
	.nav-filter.mobile
		.item(toggle-view="#")
		.item(toggle-view="category") danh mục chính sách
	.block-filter.category(toggle-id="category")
		.title-filter(icon="category") danh mục chính sách
		.block
			ul.list-item-category.list-tab
				li.item-category
					a.item(toggle-for="policy-01").active Điều kiện bảo hành
				li.item-category
					a.item(toggle-for="policy-02") Chính sách bảo mật
				li.item-category
					a.item(toggle-for="policy-03") Chính sách bảo hành