section.policy-1
    .container
        .policy-block
            .row
                aside.aside-filter.col-md-3
                    .block-title.line-left-50.mb-20px.tt-u.gray-color
                        h3 chính sách
                    .mobile-filter-open.mobile Nhấn để chọn kiểu lọc
                    .filter-option-parent
                        .filter-option-container
                            // TYPE FILTER #1
                            .filter-option
                                .option-title
                                    .filter-down
                                        img(src="./assets/icons/read-more-button.svg", alt="")
                                    p Lọc theo tham số
                                .filter-entries
                                    ul
                                        li
                                            a(href="#") Air temperature measurement
                                        li
                                            a(href="#") Immersion and penetration temperature measurement
                                        li
                                            a(href="#") Non-contact temperature measurement (infrared)
                                        li
                                            a(href="#") Surface temperature measurement