.index-6 {
	margin-top   : 63px;
	margin-bottom: 83px;

	.block-home-news {
		margin-left: 67px;
	}

	.hot-news,
	.list-home-news {
		margin-top: 31px;
	}

	.hot-news {
		figure {
			.img {
				height: 479px;
			}

			figcaption {
				margin-top: 19px;

				h3 {
					font-size    : 22px;
					font-weight  : 700;
					color        : map-get($mau, main);
					margin-bottom: 15px;
				}

				time {
					display      : inline-block;
					font-size    : 18px;
					font-weight  : 700;
					color        : #464646;
					margin-bottom: 15px;
				}

				p {
					font-weight  : 300;
					font-size    : 18px;
					color        : #464646;
					margin-bottom: 11px;
				}
			}
		}
	}

	.list-home-news {
		margin-right: -6px;
		margin-left : -6px;

		.item-home-news {
			float        : left;
			width        : 50%;
			padding-right: 6px;
			padding-left : 6px;

			figure {
				.img {
					height       : 203px;
					margin-bottom: 5px;
				}

				figcaption {
					h3 {
						font-size : 22px;
						transition: .3s all ease-in-out;
					}

					time {
						font-size: 18px;
					}

					h3,
					time {
						color: #464646;
					}
				}
			}

			&:first-child {
				width        : 100%;
				margin-bottom: 12px;

				figure {
					.img {
						height: 256px;
					}
				}
			}

			@media (min-width: 1025px) {
				&:hover {
					figure {
						figcaption {
							h3 {
								color: map-get($mau, main);
							}
						}
					}
				}
			}
		}
	}

	@media (max-width: 1439.98px) {
		.block-home-news {
			margin-left: 0;
		}
	}

	@media (max-width: 1024.98px) {
		margin-top   : 50px;
		margin-bottom: 50px;

		.hot-news {
			margin-top: 40px;

			figure {
				.img {
					height: 350px;
				}

				figcaption {
					h3 {
						font-size: 18px;
					}

					time {
						font-size: 14px;
					}

					p {
						font-size: 16px;
					}

					h3,
					time {
						margin-bottom: 10px;
					}
				}
			}
		}

		.block-home-news {
			margin-top: 50px;
		}

		.list-home-news {
			margin-top: 40px;

			.item-home-news {
				width: 33.33333%;

				figure {
					.img {
						height: 150px;
					}

					figcaption {
						h3 {
							font-size: 18px;
						}

						time {
							font-size: 14px;
						}
					}
				}

				&:first-child {
					width        : 33.33333%;
					margin-bottom: 0;

					figure {
						.img {
							height: 150px;
						}
					}
				}
			}
		}
	}

	@media (max-width: 767.98px) {
		margin-top   : 25px;
		margin-bottom: 25px;

		.hot-news {
			margin-top: 20px;

			figure {
				.img {
					height: 250px;
				}

				figcaption {
					h3 {
						font-size: 16px;
					}

					time {
						font-size: 12px;
					}

					p {
						font-size: 14px;
					}

					h3,
					time {
						margin-bottom: 5px;
					}
				}
			}
		}

		.list-home-news {
			margin-top: 20px;

			.item-home-news {
				width: 50%;

				figure {
					.img {
						height: 150px;
					}

					figcaption {
						h3 {
							font-size: 16px;
						}

						time {
							font-size: 12px;
						}
					}
				}

				&:first-child {
					width        : 100%;
					margin-bottom: 12px;
				}
			}
		}
	}
}