extends _components/_layout/_layout.pug

block var
	- let title = 'Chính sách';
	- let bodyClass = 'policy-page';

block banner,breadcrumb
	include _components/_share/main-banner
	include _components/_share/_breadcrumb
block main
	section.block-policy
		.container.tab-container
			.block-title
				h2 CHÍNH SÁCH
			.row
				.col-lg-3
					include ./_components/policy/aside-filter
				.col-lg-9
					include ./_components/policy/content
block scripts
