extends _components/_layout/_layout.pug

block var
	- let title = 'Danh sách sản phẩm';
	- let bodyClass = 'list-product-page';

block banner,breadcrumb
	include _components/_share/main-banner
	include _components/_share/_breadcrumb
block main
	section.block-list-product
		.container
			include _components/_share/_pagination
			.row
				.col-lg-3
					include ./_components/products/list-product/aside-filter
				.col-lg-9
					include ./_components/products/list-product/list-product
			include _components/_share/_pagination
block scripts
