extends _components/_layout/_layout.pug

block var
	- let title = 'Danh sách tin tức';
	- let bodyClass = 'list-news-page';

block banner,breadcrumb
	include _components/_share/main-banner
	include _components/_share/_breadcrumb
block main
	section.block-list-news
		.container
			.block-title
				h2 tIN TỨC - SỰ KIỆN
			.row
				.col-lg-3
					include ./_components/news/aside-filter
				.col-lg-9
					include ./_components/news/list-news
					include _components/news/news-others
block scripts
