.list-news-other.row
	-for(j=1;j<5;j++)
		.item-news-other.col-md-6
			a(href="tin-tuc-chi-tiet.html")
				figure.row.no-gutters.hover-style-1
					.img.ov-h.col-lg-5.col-md-12
						img.lazyload.blur-up.ofcv(data-src="./assets/images/news/news-others/1.png", alt="TIN TỨC LIÊN QUAN KIM CÚC SPORTS")
					figcaption.col-lg.col-md-12
						h3.lcl.lcl-2 Lorem ipsum dolor sit amet, consectetur adipiscing elit.
						p.lcl.lcl-2 Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
						.list-more-info-news
							.item(type="time") 2 giờ trưỡc
							.item(type="view") 2000 lượt xem
	a(href="#").btn.btn-view-more xem thêm