aside.aside-filter
	.nav-filter.mobile
		.item(toggle-view="#")
		.item(toggle-view="category") danh mục chính sách
	.block-filter.category(toggle-id="category")
		.title-filter(icon="category") danh mục chính sách
		.block
			ul.list-item-category
				li.item-category
					a.item(href="#").active Điều kiện bảo hành
				li.item-category
					a.item(href="#") Chính sách bảo mật
				li.item-category
					a.item(href="#") Chính sách bảo hành