section.product-detail-1
	.container
		.row
			.col-lg-6
				.slider-product-detail
					// - ## SLIDER HÌNH LỚNN -## //
					.review-image.ov-h
						.swiper-container
							.swiper-wrapper
								.swiper-slide.ov-h
									.img.ov-h.ta-c
										img.ofcv.zoomSelector(src="http://kimcucsport.com/Upload/Product/6e539aa2-bfec-4a54-80ff-6aa2a4bb9c3f/mini.jpg" data-zoom="http://kimcucsport.com/Upload/Product/6e539aa2-bfec-4a54-80ff-6aa2a4bb9c3f/mini.jpg")
								.swiper-slide.ov-h
									.img.ov-h.ta-c
										img.ofcv.zoomSelector(src="http://kimcucsport.com/Upload/Product/4060fff4-a06e-4fa0-8079-f49e12e06d76/112312123123123123123.jpg" data-zoom="http://kimcucsport.com/Upload/Product/4060fff4-a06e-4fa0-8079-f49e12e06d76/112312123123123123123.jpg")
								.swiper-slide.ov-h
									.img.ov-h.ta-c
										img.ofcv.zoomSelector(src="https://kimcucsport.com/Upload/Product/bf402150-f853-4aed-abb6-896cd037feba/xe-dap-tap-mo-2085-mofit-1-650x650.jpg" data-zoom="https://kimcucsport.com/Upload/Product/bf402150-f853-4aed-abb6-896cd037feba/xe-dap-tap-mo-2085-mofit-1-650x650.jpg")
								.swiper-slide.ov-h
									.img.ov-h.ta-c
										img.ofcv.zoomSelector(src="https://kimcucsport.com/Upload/Product/bf402150-f853-4aed-abb6-896cd037feba/xe-dap-tap-mo-2085-mofit-1-650x650.jpg" data-zoom="https://kimcucsport.com/Upload/Product/bf402150-f853-4aed-abb6-896cd037feba/xe-dap-tap-mo-2085-mofit-1-650x650.jpg")
								.swiper-slide.ov-h
									.img.ov-h.ta-c
										img.ofcv.zoomSelector(src="https://kimcucsport.com/Upload/Product/bf402150-f853-4aed-abb6-896cd037feba/xe-dap-tap-mo-2085-mofit-1-650x650.jpg" data-zoom="https://kimcucsport.com/Upload/Product/bf402150-f853-4aed-abb6-896cd037feba/xe-dap-tap-mo-2085-mofit-1-650x650.jpg")
								.swiper-slide.ov-h
									.img.ov-h.ta-c
										img.ofcv.zoomSelector(src="https://kimcucsport.com/Upload/Product/bf402150-f853-4aed-abb6-896cd037feba/xe-dap-tap-mo-2085-mofit-1-650x650.jpg" data-zoom="https://kimcucsport.com/Upload/Product/bf402150-f853-4aed-abb6-896cd037feba/xe-dap-tap-mo-2085-mofit-1-650x650.jpg")
					// - ## CHIỀU CAO CỦA SLIDER THUBNAIL ĐƯỢC SET BẰNG JS -## //
					.thumbnail-image
						.swiper-container.h-100
							.swiper-wrapper
								.swiper-slide.ov-h
									.img.ov-h.ta-c
										img.ofcv(src="http://kimcucsport.com/Upload/Product/6e539aa2-bfec-4a54-80ff-6aa2a4bb9c3f/mini.jpg")
								.swiper-slide.ov-h
									.img.ov-h.ta-c
										img.ofcv(src="http://kimcucsport.com/Upload/Product/4060fff4-a06e-4fa0-8079-f49e12e06d76/112312123123123123123.jpg")
								.swiper-slide.ov-h
									.img.ov-h.ta-c
										img.ofcv(src="https://kimcucsport.com/Upload/Product/bf402150-f853-4aed-abb6-896cd037feba/xe-dap-tap-mo-2085-mofit-1-650x650.jpg")
								.swiper-slide.ov-h
									.img.ov-h.ta-c
										img.ofcv(src="https://kimcucsport.com/Upload/Product/bf402150-f853-4aed-abb6-896cd037feba/xe-dap-tap-mo-2085-mofit-1-650x650.jpg")
								.swiper-slide.ov-h
									.img.ov-h.ta-c
										img.ofcv(src="https://kimcucsport.com/Upload/Product/bf402150-f853-4aed-abb6-896cd037feba/xe-dap-tap-mo-2085-mofit-1-650x650.jpg")
								.swiper-slide.ov-h
									.img.ov-h.ta-c
										img.ofcv(src="https://kimcucsport.com/Upload/Product/bf402150-f853-4aed-abb6-896cd037feba/xe-dap-tap-mo-2085-mofit-1-650x650.jpg")
						.swiper-button-prev
						.swiper-button-next
			.col-lg-6
				.general-information
					h1 GIÀY TENNIS NAM IKECOUR
					.gift Ưu đãi quà tặng
					.product-code Mã hàng:
						span AGS - 262
					.product-brand Thương hiệu:
						span Lorem impsump
					.description-general-information.lcl.lcl-5 Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
					.block-amount-price
						.price GIÁ:
							span 14.500.000 VNĐ
						.block-buttons
							.amount.quantity-input
								.text số lượng
								input.quantity-cart(name="quantity" type="text" value="1" readonly)
								.block-up-down
									.upQuantity(data-pid="11223344" data-propertyid="11223344" data-url-update="/cap-nhat-gio-hang")
										img.lazyload.blur-up(data-src="./assets/icons/up.svg", alt="")
									.downQuantity(data-pid="11223344" data-propertyid="11223344" data-url-update="/cap-nhat-gio-hang")
										img.lazyload.blur-up(data-src="./assets/icons/down.svg", alt="")
							.submit-cart
								.add-cart.btn.btn-submit(data-pid="11223344" data-propertyid="11223344" data-url="/them-vao-gio-hang") mua online ngay