section.cart-list-page
	.container
		.row
			.col-xl-8.box-left
				.cart-table-title
					.info-title
						p#quantity-product GIỎ HÀNG (6 sản phẩm)
					.quantity-title
						p Số lượng
					.price-title
						p Giá
				.cart-table
					-for(i=1;i<5;i++)
						.cart-item
							.item-info
								.imgbox
									img(src="./assets/images/products/list-product/"+i+".png", alt="")
								a.name(href="san-pham-chi-tiet.html")
									h3.lcl.lcl-2 Save me 3ce – san hô neon
								input.remove-cart(type='button' value='Xóa' data-pid="11223344" data-propertyid="11223344" data-url="/xoa-khoi-gio-hang")
							.item-quantity
								.mobile.item-label Số lượng
								.quantity-input
									.downQuantity(data-pid="11223344" data-propertyid="11223344" data-url-update="/cap-nhat-gio-hang") -
									input.quantity-cart(name="quantity" type='text' value='499' data-pid="11223344" data-propertyid="11223344")
									.upQuantity(data-pid="11223344" data-propertyid="11223344" data-url-update="/cap-nhat-gio-hang") +
							.item-price
								.mobile.item-label Giá
								.item-price-wrapper
									p.price
										b 9.490.000đ
									p.price-old
										del 12.390.000đ
				.cart-back
					a(href="danh-sach-san-pham.html") Tiếp tục mua hàng
			.col-xl-4
				.cart-summary
					.cart-summary-block
						p
							span Tạm tính:
							span#temp_price 515.000.000đ
						p
							span Giảm giá:
							span#discount_amount -15.000.000đ
					.cart-summary-block
						p
							span Thành tiền:
							strong.price#actual_amount_total 515.000.000đ
						p.vat (Đã bao gồm VAT)
				.cart-checkout
					.btn.btn-submit.w-100(data-fancybox="popup-checkout" data-src="#popup-checkout") Đặt hàng
.d-n
	#popup-checkout.popup-checkout
		h2 Thông tin liên hệ
		form
			.form-group
				input#fullname(type='text', name='', placeholder='Họ tên')
			.form-group
				input#phone(type='text', name='', placeholder='Điện thoại')
			br
			h3 Thông tin địa chỉ
			.form-group
				textarea#address(name='', placeholder='Địa chỉ chi tiết: ví dụ 151, Quang Trung, Gò Vấp')
			.form-button
				button.btn.btn-apply(dataiD="dataiD" dataFieldName="dataFieldName" data-url="ajax") Xác nhận đơn hàng
.d-n
	#popup-checkout-complete.popup-checkout-complete
		img(src="./assets/icons/cam-on.svg", alt="")
		h1 Đặt hàng thành công
		p Cảm ơn bạn đã mua hàng tại Hana
		p Quản trị viên sẽ liên hệ để lại để xác nhận.
		br
		br
		p Bạn có thể xem lại đơn hàng tại 
			a(href="#") đây