section.product-detail-1
	.container
		.row
			.col-lg-6
				.slider-product-detail
					// - ## SLIDER HÌNH LỚNN -## //
					.review-image.ov-h
						.swiper-container
							.swiper-wrapper
								-for(i=1;i<10;i++)
									.swiper-slide.ov-h
										.img.ov-h
											img.ofcv(src="./assets/images/products/product-detail/1.png", alt="HÌNH ẢNH SẢN PHẨM CHI TIẾT")
						.ta-c
							.gift Ưu đãi quà tặng
					// - ## CHIỀU CAO CỦA SLIDER THUBNAIL ĐƯỢC SET BẰNG JS -## //
					.thumbnail-image.ov-h
						.swiper-container.h-100
							.swiper-wrapper
								-for(j=1;j<10;j++)
									.swiper-slide.ov-h
										.img.ov-h
											img.ofcv(src="./assets/images/products/product-detail/1.png", alt="HÌNH ẢNH SẢN PHẨM CHI TIẾT")
						.swiper-button-prev
						.swiper-button-next