extends _components/_layout/_layout.pug

block var
	- let title = 'Sản phẩm chi tiết';
	- let bodyClass = 'product-detail-page';

block banner,breadcrumb
	include _components/_share/normal-banner
	include _components/_share/_breadcrumb
block main
	include _components/products/product-detail/p-1
	include _components/products/product-detail/p-2
block scripts