section.block-info-contact
	.container
		.block-title
			h2 THÔNG TIN LIÊN HỆ
		.row
			.col-lg-5
				.logo-company
					.img.ov-h
						img.lazyload.blur-up(data-src="./assets/logo.svg", alt="")
					.name KIM CÚC SPORT
				ul.list-info-contact
					li.item-info
						.icon
							img.lazyload.blur-up(data-src="./assets/icons/address-site-contact.svg", alt="ICON ĐỊA CHỈ")
						a.text(href="javascript:void(0)") 133 - 143 Hùng Vương, t.p Quảng Ngãi
					li.item-info
						.icon
							img.lazyload.blur-up(data-src="./assets/icons/phone-site-contact.svg", alt="ICON ĐỊA CHỈ")
						a.text(href="tel:0906523876") 0906.523.876
					li.item-info
						.icon
							img.lazyload.blur-up(data-src="./assets/icons/mail-site-contact.svg", alt="ICON ĐỊA CHỈ")
						a.text(href="mailto:kimcucsport@gmail.com") kimcucsport@gmail.com
					li.item-info
						.icon
							img.lazyload.blur-up(data-src="./assets/icons/facebook-site-contact.svg", alt="ICON ĐỊA CHỈ")
						a.text(target="_blank" href="https://www.facebook.com/kimcucsports/") https://www.facebook.com/kimcucsports/
			.col-lg-7
				#map