.ofcv {
	width          : 100%;
	height         : 100%;
	object-fit     : cover;
	object-position: center;
	font-family    : 'object-fit: cover, object-position: center';
	background-size: cover;
}

.ofct {
	width          : 100%;
	height         : 100%;
	object-fit     : contain;
	object-position: center;
	font-family    : 'object-fit: contain, object-position: center';
	background-size: contain;
}

.blur-up {
	filter    : blur(10px);
	transition: filter 1s;

	&.lazy-loaded {
		filter: blur(0);
	}
}

.clearfix {
	&:after {
		content: '';
		display: table;
		clear  : both;
	}
}

.lcl {
	overflow          : hidden;
	display           : -webkit-box;
	text-overflow     : ellipsis;
	-webkit-box-orient: vertical;

	&-1 {
		-webkit-line-clamp: 1;
	}

	&-2 {
		-webkit-line-clamp: 2;
	}

	&-3 {
		-webkit-line-clamp: 3;
	}
}
.gray-color{
	color: #464646;
}
.block-title {
	.icon-title {
		img {
			margin-right: 15px;
		}
	}

	h3 {
		display  : inline-block;
		font-size: 30px;
		
	}

	time {
		display: block;
	}

	&.line-center-90 {
		h3 {
			position      : relative;
			padding-bottom: 5px;

			&:after {
				content   : '';
				position  : absolute;
				left      : 50%;
				bottom    : 0;
				transform : translateX(-50%);
				background: #BE1622;
				width     : 115px;
				height    : 3px;
			}
		}
	}

	&.line-center-50 {
		h3 {
			position      : relative;
			padding-bottom: 5px;

			&:after {
				content   : '';
				position  : absolute;
				left      : 50%;
				bottom    : 0;
				transform : translateX(-50%);
				background: #BE1622;
				width     : 115px;
				height    : 5px;
			}
		}
	}

	&.line-left-50 {
		h3 {
			position      : relative;
			padding-bottom: 5px;

			&:after {
				content   : '';
				position  : absolute;
				left      : 0;
				bottom    : 0;
				background: #BE1622;
				width     : 122px;
				height    : 3px;
			}
		}
	}

	@media (max-width: 767.98px) {
		.icon-title {
			img {
				width : 30px;
				height: auto;
			}
		}

		h3 {
			font-size: 18px;
		}

		p {
			font-size: 10px;
		}
	}
}