::-webkit-scrollbar-track {
	box-shadow      : inset 0 0 6px rgba(255, 255, 255, 0);
	background-color: #fff;
}

::-webkit-scrollbar {
	width           : 5px;
	height          : 5px;
	background-color: #fff;
}

::-webkit-scrollbar-thumb {
	border-radius   : 2.5px;
	box-shadow      : inset 0 0 6px rgba(255, 255, 255, 0);
	background-color: map-get($mau, main);
}

body {
	overflow-x: hidden;

	&.disabled {
		overflow: hidden;
	}
}

.tab-container {
	.list-tab {
		.item {
			cursor: pointer;
		}
	}

	.tab-content {
		margin-top: 35px;

		.content {
			display   : none;
			opacity   : 0;
			transition: all .3s cubic-bezier(.2, .5, .5, .8);

			&.show {
				opacity: 1;
			}
		}
	}

	@media (max-width: 1024.98px) {
		.tab-content {
			margin-top: 25px;
		}
	}
}

#overlay {
	opacity       : 0;
	visibility    : hidden;
	pointer-events: none;

	background-color: rgba(0, 0, 0, .8);
	width           : 100%;
	height          : 100%;
	position        : fixed;
	top             : 0;
	left            : 0;
	z-index         : 150;
	transition      : .3s all ease-in-out;

	&.active {
		opacity       : 1;
		visibility    : visible;
		pointer-events: visible;
	}
}

#back-to-top {
	cursor        : pointer;
	position      : fixed;
	bottom        : 25px;
	right         : 25px;
	z-index       : 300;
	opacity       : 0;
	pointer-events: none;

	&.show {
		opacity       : 1;
		pointer-events: static;
	}
}

.ofcv {
	width          : 100%;
	height         : 100%;
	object-fit     : cover;
	object-position: center;
	font-family    : 'object-fit: cover, object-position: center';
	background-size: cover;
}

.ofct {
	width          : 100%;
	height         : 100%;
	object-fit     : contain;
	object-position: center;
	font-family    : 'object-fit: contain, object-position: center';
	background-size: contain;
}

.blur-up {
	filter    : blur(10px);
	transition: filter 1s;

	&.lazyloaded {
		filter: blur(0);
	}
}

.clearfix {
	&:after {
		content: '';
		display: table;
		clear  : both;
	}
}

.lcl {
	overflow          : hidden;
	display           : -webkit-box;
	text-overflow     : ellipsis;
	-webkit-box-orient: vertical;

	&-1 {
		-webkit-line-clamp: 1;
	}

	&-2 {
		-webkit-line-clamp: 2;
	}

	&-3 {
		-webkit-line-clamp: 3;
	}

	&-4 {
		-webkit-line-clamp: 4;
	}
}

.block-title {
	position      : relative;
	padding-bottom: 5px;

	h2 {
		color         : #464646;
		font-size     : 30px;
		font-weight   : 700;
		text-transform: uppercase;
	}

	&:after {
		content   : '';
		position  : absolute;
		width     : 135px;
		height    : 3px;
		left      : 0;
		bottom    : 0;
		background: map-get($mau, main);
	}

	@media (max-width: 1024.98px) {
		h2 {
			font-size: 24px;
		}
	}

	@media (max-width: 767.98px) {
		h2 {
			font-size: 18px;
		}

		&:after {
			width : 80px;
			height: 2px;
		}
	}
}

.item-product {
	figure {
		position  : relative;
		background: #F2F2F2;
		box-shadow: 0 0 0 rgba($color: hsl(356, 13%, 24%), $alpha: .31);
		transition: .3s all ease-in-out;

		.img {
			display        : flex;
			align-items    : center;
			justify-content: center;
			height         : 225px;

			img {
				width     : 70%;
				transition: .3s all ease-in-out;
			}
		}

		figcaption {
			padding   : 0 15px 20px;
			margin-top: 30px;
			text-align: center;

			.name,
			.code,
			.price {
				overflow          : hidden;
				display           : -webkit-box;
				text-overflow     : ellipsis;
				-webkit-box-orient: vertical;
				-webkit-line-clamp: 1;
			}

			.name,
			.code {
				font-size: 18px;
				color    : #464646;
			}

			.price {
				font-size: 16px;
				color    : map-get($mau, main);
			}

			.btn-gift {
				margin-top: 30px;
			}
		}

		&:after {
			content       : '';
			position      : absolute;
			bottom        : 0;
			width         : 0;
			height        : 3px;
			background    : map-get($mau, main);
			pointer-events: none;
			transition    : .3s all ease-in-out;
		}
	}

	@media (min-width: 1025px) {
		&:hover {
			figure {
				background: #ffffff;
				box-shadow: 3px 5px 3px rgba($color: #463637, $alpha: .31);

				.img {
					img {
						transform: scale(1.05);
					}
				}

				&:after {
					width: 100%;
				}
			}
		}
	}

	@media (max-width: 1024.98px) {
		figure {
			.img {
				img {
					width: 50%;
				}
			}
		}
	}

	@media (max-width: 767.98px) {
		figure {
			.img {
				height: 150px;
			}

			figcaption {

				.name,
				.code {
					font-size: 16px;
					color    : #464646;
				}

				.price {
					font-size: 14px;
					color    : map-get($mau, main);
				}
			}
		}
	}
}

.hover-style-1 {
	img {
		max-width : none;
		width     : -webkit-calc(100% + 60px);
		width     : calc(100% + 60px);
		transition: opacity 0.35s, transform 0.35s;
		transform : translate3d(-50px, 0, 0);
	}

	@media (min-width: 1025px) {
		&:hover {
			img {
				opacity  : 0.7;
				transform: translate3d(0, 0, 0);
			}
		}
	}
}

.hover-style-2 {
	.img {
		position: relative;

		img {
			transition: opacity 0.35s, transform 0.35s;
			transform : scale3d(1.05, 1.05, 1);
		}

		&:before {
			content       : '';
			position      : absolute;
			top           : -10px;
			left          : 0;
			width         : 100%;
			height        : 100%;
			background    : rgba($color: #ffffff, $alpha: .5);
			transition    : transform .6s;
			transform     : scale3d(1.9, 1.4, 1) rotate3d(0, 0, 1, 45deg) translate3d(0, -100%, 0);
			pointer-events: none;
			z-index       : 10;
		}
	}

	@media (min-width: 1025px) {
		&:hover {
			.img {
				img {
					opacity  : 0.6;
					transform: scale3d(1, 1, 1);
				}

				&:before {
					transform: scale3d(2.2, 1.4, 1) rotate3d(0, 0, 1, 45deg) translate3d(0, 100%, 0);
				}
			}
		}
	}

	@media (max-width: 1024.98px) {
		.img {
			&:before {
				content: none;
			}
		}
	}
}