.cart-list-page {
	margin: 50px 0;

	.cart-back {
		text-align : right;
		padding-top: 20px;

		a {
			font-size      : 14px;
			color          : #1C1C1C;
			text-decoration: underline;
		}

		@media (max-width: 1199px) {
			padding-top: 10px;
			text-align : center;
		}
	}

	.cart-table-title {
		display       : flex;
		color         : #787878;
		font-size     : 18px;
		border-bottom : 1px solid #F5F5F5;
		padding-bottom: 10px;

		.info-title {
			flex-basis: 0;
			flex-grow : 1;
			max-width : 100%;
		}

		.quantity-title {
			text-align: center;

			@media (max-width: 1025px) {
				flex     : 0 0 25%;
				max-width: 25%;
			}
		}

		.price-title {
			text-align: right;
		}

		.quantity-title,
		.price-title {
			flex     : 0 0 250px;
			max-width: 250px;
		}

		@media (max-width: 1659px) {

			.quantity-title,
			.price-title {
				flex     : 0 0 200px;
				max-width: 200px;
			}
		}

		@media (max-width: 1439px) {

			.quantity-title,
			.price-title {
				flex     : 0 0 150px;
				max-width: 150px;
			}
		}

		@media (max-width: 1199.98px) {

			.quantity-title,
			.price-title {
				flex     : 0 0 190px;
				max-width: 190px;
			}
		}

		@media (max-width: 767.98px) {
			display: none;
		}
	}

	.cart-item {
		display      : flex;
		padding      : 30px 0;
		border-bottom: 1px solid #F5F5F5;
		align-items  : center;

		.item-label {
			flex     : 0 0 115px;
			max-width: 115px;
			font-size: 12px;

			@media (min-width: 768px) {
				display: none;
			}
		}

		.item-info {
			flex-basis: 0;
			flex-grow : 1;
			max-width : 100%;
			display   : flex;
			position  : relative;

			.imgbox {
				flex     : 0 0 150px;
				max-width: 150px;
				border   : 1px solid darken(white, 8%);
				padding  : 10px;
			}

			.name {
				padding-left: 15px;
				flex-basis  : 0;
				flex-grow   : 1;
				max-width   : 100%;

				h3 {
					font-size     : 20px;
					text-transform: uppercase;
					color         : #1c1c1c;

					@media (max-width: 1199.98px) {
						font-size: 17px;
					}

					@media (max-width: 767.98px) {
						font-size: 14px;
					}
				}
			}

			.item-remove {
				@media (min-width: 768px) {
					position   : absolute;
					width      : 40px;
					border     : 0;
					background : none;
					bottom     : 0px;
					line-height: 1;
					left       : 160px;
					font-size  : 18px;
					color      : #787878;
				}
			}
		}

		.item-quantity {
			.quantity-input {
				display        : flex;
				justify-content: center;
			}

			input[type='button'],
			input[type='text'] {
				border    : 0;
				background: none;
				flex      : 0 0 30px;
				height    : 30px;
				text-align: center;
				max-width : 30px;
				color     : #888888
			}
		}

		.item-price {
			font-size : 18px;
			text-align: right;

			.price {
				font-weight: 500;
			}

			.price-old {
				font-weight: 300;
				color      : #787878;
			}
		}

		.item-price,
		.item-quantity {
			flex     : 0 0 250px;
			max-width: 250px;
		}

		@media (max-width: 1659px) {

			.item-price,
			.item-quantity {
				flex     : 0 0 200px;
				max-width: 200px;
			}
		}

		@media (max-width: 1439px) {

			.item-price,
			.item-quantity {
				flex     : 0 0 150px;
				max-width: 150px;
			}
		}

		@media (max-width: 1199.98px) {

			.item-price,
			.item-quantity {
				flex     : 0 0 190px;
				max-width: 190px;
			}

			.item-price {
				font-size: 16px;
			}
		}

		@media (max-width: 767.98px) {
			flex-wrap    : wrap;
			padding      : 20px 0;
			border-radius: 5px;

			.item-info {
				flex     : 0 0 100%;
				max-width: 100%;

				.name {
					padding-right: 15px;

					h3 {
						font-weight: 400;
					}
				}

				.item-remove {
					border       : 0;
					height       : 20px;
					flex         : 0 0 35px;
					align-self   : flex-start;
					width        : 35px;
					color        : map-get($mau, main);
					font-size    : 12px;
					background   : transparent;
					border-radius: 50px;
				}
			}

			.item-price {
				font-size      : 14px;
				flex           : 0 0 100%;
				max-width      : 100%;
				display        : flex;
				justify-content: space-between;
				align-items    : flex-start;
				text-align     : left;
				padding-left   : 165px;
				margin-top     : -42px;
				position       : relative;
				z-index        : 20;
			}

			.item-quantity {
				padding-left   : 165px;
				flex           : 0 0 100%;
				max-width      : 100%;
				display        : flex;
				justify-content: space-between;
				align-items    : center;
				text-align     : left;
				margin-bottom  : 0;
				margin-top     : -115px;
				position       : relative;
				z-index        : 20;

				.quantity-input {
					width      : 90px;
					margin-left: auto;
				}
			}
		}
	}

	.cart-summary {
		background: #F5F5F6;
		font-size : 18px;

		.cart-summary-block {
			padding: 35px;

			+.cart-summary-block {
				border-top: 1px solid darken(white, 15%);
			}

			p {
				display        : flex;
				justify-content: space-between;
				align-items    : center;
				font-weight    : 300;
				margin-bottom  : 8px;

				.price {
					font-size  : 32px;
					color      : map-get($mau, main);
					line-height: 1.2;
				}

				&.vat {
					justify-content: flex-end;
				}
			}
		}

		@media (max-width: 1439.98px) {
			.cart-summary-block {
				padding: 20px;

				p {
					.price {
						font-size: 28px;
					}
				}
			}
		}

		@media (max-width: 1199.98px) {
			font-size: 16px;

			.cart-summary-block {
				p {
					.price {
						font-size: 24px;
					}
				}
			}
		}

		@media (max-width: 1024.98px) {
			margin-top: 25px;
		}

		@media (max-width: 767.98px) {
			font-size: 14px;
			font-size: 16px;
			margin   : 10px -10px 0;

			.cart-summary-block {
				p {
					.price {
						font-size: 20px;
					}
				}
			}
		}
	}

	.cart-checkout {
		margin-top: 10px;

		.btn-apply {
			height       : 45px;
			border-radius: 5px;
		}

		@media (max-width: 767.98px) {
			margin : 0 -10px;
			padding: 15px;
		}
	}

	@media (max-width: 767.98px) {
		margin: 25px 0;
	}
}

.cart-popup {
	overflow     : visible;
	border-radius: 5px;

	h2 {
		font-size     : 20px;
		text-align    : center;
		margin-bottom : 30px;
		text-transform: uppercase;

		@media (max-width: 767.98px) {
			font-size    : 18px;
			margin-bottom: 15px;
		}
	}

	form {
		width    : 430px;
		max-width: 100%;

		h3 {
			font-size    : 18px;
			margin-bottom: 10px;
			font-weight  : 400;

			@media (max-width: 767.98px) {
				font-size: 16px;
			}
		}
	}

	.form-group {
		margin-bottom: 10px;

		input[type='text'],
		select,
		textarea {
			border       : 1px solid darken(white, 8%);
			border-radius: 5px;
			font-size    : 16px;
			padding      : 8px 15px;
			font-weight  : 300;
			color        : lighten(black, 12%);
			width        : 100%;

			&::placeholder {
				color: lighten(black, 12%);
			}

			@media (max-width: 767.98px) {
				font-size: 14px;
			}
		}

		input[type='text'],
		select {
			height: 40px;
		}

		textarea {
			height: 80px;
		}
	}

	.form-check {
		label {
			padding-left: 25px;
			position    : relative;
			font-size   : 12px;
			cursor      : pointer;

			&:before {
				content        : '';
				position       : absolute;
				width          : 14px;
				height         : 14px;
				top            : 2px;
				left           : 0;
				border         : 1px solid darken(white, 8%);
				display        : flex;
				justify-content: center;
				align-items    : center;
			}
		}

		input[type='checkbox'] {
			display: none;

			&:checked~label:before {
				content    : '\f12c';
				font-family: 'Material Design Icons';
				font-size  : 12px;
				border     : 1px solid map-get($mau, main);
				background : map-get($mau, main);
				color      : white;
			}
		}
	}

	.form-button {
		margin-top: 20px;

		.btn-apply {
			width        : 100%;
			height       : 45px;
			border-radius: 5px;
		}
	}

	@media (max-width: 767.98px) {
		padding-right: 20px;
		padding-left : 20px;
	}
}