.index-3
	.container
		.block-title
			h2 sản phẩm tập thể thao
		// DANH SÁCH SẢN PHẨM THỂ THAO
		.row.list-item
			-for(j=1;j<6;j++)
				.item-product
					// LINK VÀO SẢN PHẨM CHI TIẾT
					a(href="san-pham-chi-tiet.html")
						figure
							.img.ov-h
								img.lazyload.blur-up(data-src="./assets/images/products/sports/"+j+".png", alt="SẢN PHẨM THỂ THAO KIM CÚC SPORTS")
							figcaption
								.name Ghế massage Okasa
								.code OS-868
								.price 58.600.000 ₫
								.btn.btn-gift QUÀ TẶNG